{% extends 'base_kredco.html' %}

{% block content %}
   <!-- HOME -->
        <section>
            <div class="container-alt">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="home-wrapper">
                            <h1 class="icon-main text-custom"><i class="fa fa-gift"></i></h1>
                            <h1 class="home-text text-uppercase"><span class="text-primary">Halaman ini</span> <span class="text-pink">sedang</span> <span class="text-info">Dibangun</span></h1>
                            <h4 class="text-muted">KRED sedang mempersiapkan halaman ini untuk anda. Tunggu kejutan dari kami.</h4>
                        </div>
                    </div>
                </div>
            </div>
          </section>
          <!-- END HOME -->
{% endblock %}