<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>KRED.CO</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <script src="{% static "js/jquery.js" %}"></script>
    </head>
    <body>
    <h1>Welcome {{request.user.first_name}} to KRED.CO</h1>
        <div>
        Reinventing Payment...<br />
        <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
			<ul>
				{% for promotion in promotions %}
				<li>{{ promotion.name }}. {{promotion.datestart}} to {{promotion.dateend}} <img src="{{promotion.imagebanner.url}}"/> </li>
				{% endfor %}
			</ul>
        </div>
        <div>
			<a href="/about/">About</a><br />
			{% if user.is_authenticated %}
				<a href="/logout/">Logout</a><br />
			{% else %}
				<a href="/login/">Login</a><br />
			{% endif %}
        </div>
    </body>
</html>