{% extends 'base.html' %}

	
	
    <body data-spy="scroll" data-offset="80">
		{% block content %}
		<!-- START MERCHANTS POPULAR -->
		<div class="partner-logo section-padding">
			<div class="partner_overlay">
				<div class="container">
					<div class="row">
						
						<div class="col-md-12">
							<div class="section-title text-center">
								<h2>Popular Merchants</h2>
							</div>
							<div class="partner">
								{% for merchant in merchants %}
						    	<a href="#"><img src="{{merchant.logo.url}}" alt="image"></a>
								{% endfor %}
							</div>							
						</div><!-- END COL  -->
						
					</div><!--END  ROW  -->
				</div><!-- END CONTAINER  -->
			</div><!-- END OVERLAY -->
		</div>
		<!-- END -->
		
		<!-- START MERCHANTS SEARCH -->
		<section id="faq" class="template_faq">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>Search Merchants</h2>
						<p>Search from our huge list of merchants.</p>
							<form method="GET" action="">
								<input type="text" name="filter" placeholder="Search Merchants..." value='{{request.GET.filter}}'>
							</form>
					</div>	
					{% if results %}
						{% for result in results%}
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="faq_desc">
								<p class="question">{{result.name}}</p>
								<p class="ans">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus.</p>
							</div>
						</div><!--- END COL -->						
						{% endfor%}
					{% else %}
						<p> No Value.</p>
					{% endif %}
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END FAQ -->
		
		{% endblock %}
    </body>
	