{% extends 'base.html' %}

	
	
    <body data-spy="scroll" data-offset="80">
		{% block content %}
		<!-- START MERCHANTS POPULAR -->
		<div class="partner-logo section-padding">
			<div class="partner_overlay">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="partner">
						    	<a href="#"><img src="assets/img/partner/1.png" alt="image"></a>
								<a href="#"><img src="assets/img/partner/2.png" alt="image"></a>
								<a href="#"><img src="assets/img/partner/3.png" alt="image"></a>
								<a href="#"><img src="assets/img/partner/4.png" alt="image"></a>
								<a href="#"><img src="assets/img/partner/5.png" alt="image"></a>
								<a href="#"><img src="assets/img/partner/6.png" alt="image"></a>
								<a href="#"><img src="assets/img/partner/1.png" alt="image"></a>
								<a href="#"><img src="assets/img/partner/2.png" alt="image"></a>
								<a href="#"><img src="assets/img/partner/3.png" alt="image"></a>
								<a href="#"><img src="assets/img/partner/4.png" alt="image"></a>
								<a href="#"><img src="assets/img/partner/5.png" alt="image"></a>
								<a href="#"><img src="assets/img/partner/6.png" alt="image"></a>
							</div>
						</div><!-- END COL  -->
					</div><!--END  ROW  -->
				</div><!-- END CONTAINER  -->
			</div><!-- END OVERLAY -->
		</div>
		<!-- END -->
		
		<!-- START MERCHANTS SEARCH -->
		<section id="work" class="work section-padding">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-title text-center">
							<h2>Latest Promotions</h2>
							<p>Beberapa promosi menarik yang dihadirkan khusus untuk para pengguna KRED.</p>
							<input class="work" type="text" name="search" placeholder="Search..">
						</div>
					</div>
				</div>
				<div class="row"> 
					<ul class="work">
						<li class="filter" data-filter="all">all</li>
						<li class="filter" data-filter=".automotive">automotive</li>
						<li class="filter" data-filter=".audio">audio</li>
						<li class="filter" data-filter=".photography">photography</li>
					</ul>
				</div>
				<div class="work-inner">
					<div class="row work-posts grid">
						<!-- START SINGLE WORK DESIGN AREA -->
						<div class="col-md-4 col-sm-6 mix automotive">
							<div class="item">
								<a href="assets/img/work/1.jpg" class="work-popup">
									<figure class="effect-ruby">
										<img src="assets/img/work/1.jpg" alt="image">
										<figcaption>
											<h2>web development</h2>
											<p>project one</p>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<!-- END SINGLE WORK DESIGN AREA -->
						<!-- START SINGLE WORK DESIGN AREA -->
						<div class="col-md-4 col-sm-6 mix audio">
							<div class="item">
								<a href="assets/img/work/2.jpg" class="work-popup">
									<figure class="effect-ruby">
										<img src="assets/img/work/2.jpg" alt="image">
										<figcaption>
											<h2>web Design</h2>
											<p>project two</p>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<!-- END SINGLE WORK DESIGN AREA -->
						<!-- START SINGLE WORK DESIGN AREA -->
						<div class="col-md-4 col-sm-6 mix photography automotive">
							<div class="item">
								<a href="assets/img/work/3.jpg" class="work-popup">
									<figure class="effect-ruby">
										<img src="assets/img/work/3.jpg" alt="image">
										<figcaption>
											<h2>company Branding</h2>
											<p>project three</p>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<!-- END SINGLE WORK DESIGN AREA -->
						<!-- START SINGLE WORK DESIGN AREA -->
						<div class="col-md-4 col-sm-6 mix audio">
							<div class="item">
								<a href="assets/img/work/4.jpg" class="work-popup">
									<figure class="effect-ruby">
										<img src="assets/img/work/4.jpg" alt="image">
										<figcaption>
											<h2>photography porttrait</h2>
											<p>project four</p>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<!-- END SINGLE WORK DESIGN AREA -->
						<!-- START SINGLE WORK DESIGN AREA -->
						<div class="col-md-4 col-sm-6 mix audio automotive">
							<div class="item">
								<a href="assets/img/work/5.jpg" class="work-popup">
									<figure class="effect-ruby">
										<img src="assets/img/work/5.jpg" alt="image">
										<figcaption>
											<h2>couple photography</h2>
											<p>project five</p>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<!-- END SINGLE WORK DESIGN AREA -->
						<!-- START SINGLE WORK DESIGN AREA -->
						<div class="col-md-4 col-sm-6 mix photography">
							<div class="item">
								<a href="assets/img/work/6.jpg" class="work-popup">
									<figure class="effect-ruby">
										<img src="assets/img/work/6.jpg" alt="image">
										<figcaption>
											<h2>Logo design</h2>
											<p>project six</p>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<!-- END SINGLE WORK DESIGN AREA -->
					</div>
				</div>
				<div class="portfolio_btn">
					<a href="#" class="btn btn-default btn-light-bg-two">more promotions</a>
				</div>
			</div>
		</section>
		<!-- END -->
		
		{% endblock %}
    </body>
	