{% extends 'base.html' %}
    <body data-spy="scroll" data-offset="80">
		{% block content %}
		<!-- START SUMMARY -->
		<section data-stellar-background-ratio="0.3" class="complete-project-area counter_feature" style="background-image: url(assets/img/bg/counter-bg.jpg);  background-size:cover; background-position: center center;">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
						<div class="single-project-complete">
							<i class="fa fa-handshake-o"></i>
							<h2 class="counter-num">352</h2>
							<h3>complete project</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay=".2s">
						<div class="single-project-complete">
							<i class="fa fa-users"></i>
							<h2 class="counter-num">121</h2>
							<h3>Happy clients</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay=".3s">
						<div class="single-project-complete">
							<i class="fa fa-coffee"></i>
							<h2 class="counter-num">560</h2>
							<h3>cup of coffie</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay=".4s">
						<div class="single-project-complete">
							<i class="fa fa-child"></i>
							<h2 class="counter-num">11</h2>
							<h3>awards</h3>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END -->
		
		{{request.user.username}}
		{{request.user.first_name}}
		{{request.user.last_name}}
		{{request.user.email}}
		
		<!-- START MY-CARD -->
		<section class="our_offer section-padding">
			<div class="container">
				<div class="row">
					<div class="section-title text-center wow zoomIn">
						<h2>My Cards</h2>
						<div class="line"></div>
						<p>List of my credit cards.</p>
					</div>					
					{% for card in mycards %}
					<div class="col-sm-4">	
						<div class="single_offer">
							<div class="single_offer_img">
								<img src="{{card.logo.url}}" class="img-responsive" alt="" />
							</div>
							<h4>************{{card.number}}</h4>
							<p>{{card.type}}</p>
						</div>	
						
					</div><!-- END COL -->
					{% endfor %}
				</div>
			</div>
		</section>
		<!-- END OFFER -->
		
		<!-- START CONTACT FORM -->
		<section id="contact" class="contact_area section-padding">
			<div class="container">
				<div class="row">	
					<div class="section-title text-center wow zoomIn">
						<h2>My Latest Transaction</h2>
						<div class="line"></div>
						<p>List of the latest transaction.</p>
					</div>								
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="contact">
							<form id="contact-form" method="post" enctype="multipart/form-data">
								<div class="row">
									<div class="form-group col-md-4 text-center">
										Merchant
									</div>
									<div class="form-group col-md-4 text-center">
										Amount
									</div>
									<div class="form-group col-md-4 text-center">
										Card
									</div>
								</div>
								{% for transaction in mytransactions %}
								<div class="row">
									<div class="form-group col-md-4">
										{{ transaction.merchant }}
									</div>
									<div class="form-group col-md-4">
										{{transaction.amount}}
									</div>
									<div class="form-group col-md-4">
										{{transaction.card}}
									</div>
								</div>
								{% endfor %}
							</form>
						</div>
					</div><!-- END COL -->						
				</div><!--- END ROW -->				
			</div><!--- END CONTAINER -->	
		</section>
		<!-- END CONTACT FORM  -->
		
			{% endblock %}
    </body>
