{% extends 'base.html' %}
    <body data-spy="scroll" data-offset="80">
		{% block content %}
		<!-- START SUMMARY -->
		<section data-stellar-background-ratio="0.3" class="complete-project-area counter_feature" style="background-image: url(assets/img/bg/counter-bg.jpg);  background-size:cover; background-position: center center;">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
						<div class="single-project-complete">
							<i class="fa fa-handshake-o"></i>
							<h2 class="counter-num">352</h2>
							<h3>complete project</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay=".2s">
						<div class="single-project-complete">
							<i class="fa fa-users"></i>
							<h2 class="counter-num">121</h2>
							<h3>Happy clients</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay=".3s">
						<div class="single-project-complete">
							<i class="fa fa-coffee"></i>
							<h2 class="counter-num">560</h2>
							<h3>cup of coffie</h3>
						</div>
					</div><!-- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay=".4s">
						<div class="single-project-complete">
							<i class="fa fa-child"></i>
							<h2 class="counter-num">11</h2>
							<h3>awards</h3>
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END -->

		<!-- START MY-TRANSACTION -->
		<section id="faq" class="template_faq">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>Frequently Asked Questions</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>					
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="faq_desc">
							<p class="question">Q. How do I become an author?</p>
							<p class="ans">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus.</p>
						</div>
					</div><!--- END COL -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="faq_desc">
							<p class="question">Q. How much money can I make?</p>
							<p class="ans">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus.</p>
						</div>
					</div><!--- END COL -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="faq_desc">
							<p class="question">Q. Helpful Resources for Authors</p>
							<p class="ans">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus.</p>
						</div>
					</div><!--- END COL -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="faq_desc">
							<p class="question">Q. How can I get support item which isn't working correctly?</p>
							<p class="ans">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus.</p>
						</div>
					</div><!--- END COL -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="faq_desc">
							<p class="question">Q. How do I pay for items on the Marketplaces?</p>
							<p class="ans">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus.</p>
						</div>
					</div><!--- END COL -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="faq_desc">
							<p class="question">Q. What Images, Videos, Code or Music Can I Use in my Items?</p>
							<p class="ans">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus.</p>
						</div>
					</div><!--- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END -->
		
		<!-- START MY-CARD -->
		<section class="our_offer section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay=".2s">
						<div class="single_offer">
							<div class="single_offer_img">
								<img src="assets/img/offer_1.jpg" class="img-responsive" alt="" />
							</div>
							<h4>International accounting</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit.</p>
						</div>	
					</div><!-- END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay=".3s">
						<div class="single_offer">
							<div class="single_offer_img">
								<img src="assets/img/offer_2.jpg" class="img-responsive" alt="" />
							</div>
							<h4>Financial consulting</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit.</p>
						</div>	
					</div><!-- END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay=".4s">
						<div class="single_offer">
							<div class="single_offer_img">
								<img src="assets/img/offer_3.jpg" class="img-responsive" alt="" />
							</div>
							<h4>Financial &amp; business</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit.</p>
						</div>	
					</div><!-- END COL -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END OFFER -->
		
		<!-- START MY-FAVOURITE-MERCHANT -->
		<section class="our_offer section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay=".2s">
						<div class="single_offer">
							<div class="single_offer_img">
								<img src="assets/img/offer_1.jpg" class="img-responsive" alt="" />
							</div>
							<h4>International accounting</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit.</p>
						</div>	
					</div><!-- END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay=".3s">
						<div class="single_offer">
							<div class="single_offer_img">
								<img src="assets/img/offer_2.jpg" class="img-responsive" alt="" />
							</div>
							<h4>Financial consulting</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit.</p>
						</div>	
					</div><!-- END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay=".4s">
						<div class="single_offer">
							<div class="single_offer_img">
								<img src="assets/img/offer_3.jpg" class="img-responsive" alt="" />
							</div>
							<h4>Financial &amp; business</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit.</p>
						</div>	
					</div><!-- END COL -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END OFFER -->
			{% endblock %}
    </body>
