{% extends 'base_kredco.html' %}
{% block title %}Login - kred.co{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="card-box">
			<h2>Login</h2>
			<form method="post">{% csrf_token %}
				<div class="input-group">
                	<span class="input-group-addon">
                		<i class="fa fa-user"></i>
                	</span>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="input-group">
                	<span class="input-group-addon">
                		<i class="fa fa-lock"></i>
                	</span>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                </div>
			    <button type="submit">Login</button>
			  </form>
			  <a href="/signup/">Signup</a> <br/>
			  <a href="/password_reset/">Forgot Password</a>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>
{% endblock %}