{% extends 'base_kredco.html' %}

{% block title %}Logout - kred.co{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<script>
    function redirect(){
       window.location.href = "/";
    }
    setTimeout(redirect, 2000); //2000 is equivalent to 3 seconds
</script>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="card-box">
			<h2>Register</h2>
			<p>Successfully Logged Out. Redirecting you our homepage.</p>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>
{% endblock %}