{% extends 'base_kredco.html' %}
{% load staticfiles %}

{% block content %}
	<div class="wrapper">
		<div class="container">
			 <!-- Wizard with Validation -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            {% if completed %}
                                <h1 class="m-t-0 header-title"><b>Payment Sucesful</b></h1>    
                            {% else %}
                            <div>
                            <h4 class="m-t-0 header-title"><b>Data Transaksi</b></h4>
                            <p class="text-muted m-b-30 font-13">
                                Mohon datanya diisi dengan benar. <br/>
							Bila ada kesalahan data dan penerima pembayaran tidak dapat dihubungi, maka pemmbayaran tidak akan dapat dilakukan. <br/>
							Bila terjadi kesalahan pada saat memasukkan data seperti nomor rekening, jumlah pembayaran, dll, pihak Kred tidak akan bertanggung jawab.
                            </p>

                            <form id="payment-form" enctype="multipart/form-data" action="#" method='post'>
                                {% csrf_token %}
                                {{ form.TransactionKey.as_hidden }}
                                <div>
                                    <h3>Penerima Pembayaran</h3>
                                    <section>
                                        <div class="form-group clearfix">
                                            <label class="col-lg-3 control-label " for="userName2" data-mask="____-__-__">Nama Penerima *</label>
                                            <div class="col-lg-9">
                                                {{form.tempMerchantName}}
                                                {{form.tempMerchantName.errors}}
                                            </div>
                                            
                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="col-lg-3 control-label " for="password2">Nomor Telepon Penerima *</label>
                                            <div class="col-lg-9">
                                                {{form.tempMerchantPhone}}

                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label class="col-lg-3 control-label " for="confirm2">Nama Bank Penerima *</label>
                                            <div class="col-lg-9">
                                                {{form.tempMerchantBankName}}
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="col-lg-3 control-label " for="confirm2">Nomor Rekening Penerima *</label>
                                            <div class="col-lg-9">
                                                {{form.tempMerchantBankAccount}}
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="col-lg-12 control-label ">(*) Mandatory</label>
                                        </div>
                                    </section>
                                    <h3>Nilai Transaksi</h3>
                                    <section>
                                        <div class="form-group clearfix">
                                            <label class="col-lg-3 control-label" for="name2" data-a-sign="£ ">Jumlah Pembayaran *</label>
                                            <div class="col-lg-9">
                                                {{form.amount}}
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="col-lg-3 control-label " for="surname2">Tujuan Pembayaran *</label>
                                            <div class="col-lg-9">
                                                {{form.category}}
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label class="col-lg-3 control-label " for="email2">Invoice Upload</label>
                                            <div class="col-lg-9">
                                                {{form.invoice}}
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="col-lg-12 control-label ">(*) Mandatory</label>
                                        </div>
                                    </section>
                                    <h3>Kartu Kredit</h3>
                                    <section>
                                        <div class="form-group clearfix">
                                            <label class="col-lg-3 control-label" for="name2">Kartu Kredit *</label>
                                            <div class="col-lg-5">
                                                {{form.CardUsed}}
                                            </div>
                                        </div>
                                        
                                        <div class="form-group clearfix">
                                            <label class="col-lg-12 control-label ">(*) Mandatory</label>
                                        </div>
                                    </section>
                                    <h3>Konfirmasi</h3>
                                    <section>
                                        <div class="form-group clearfix">
                                            <div class="col-lg-12">
                                                <div class='row'>
                                                    <div class='col-lg-3'>
                                                      Nama Penerima
                                                    </div>
                                                    <div class='col-lg-9'>
                                                        <span id='cf_tempMerchantName'></span>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class='col-lg-3'>
                                                      Nomor Telepon Penerima
                                                    </div>
                                                    <div class='col-lg-9'>
                                                        <span id='cf_tempMerchantPhone'></span>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class='col-lg-3'>
                                                      Nama Bank Penerima
                                                    </div>
                                                    <div class='col-lg-9'>
                                                        <span id='cf_tempMerchantBankName'></span>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class='col-lg-3'>
                                                      Nomor Rekening Penerima
                                                    </div>
                                                    <div class='col-lg-9'>
                                                        <span id='cf_tempMerchantBankAccount'></span>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class='col-lg-3'>
                                                      Jumlah Pembayaran
                                                    </div>
                                                    <div class='col-lg-9'>
                                                        <span id='cf_amount'></span>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class='col-lg-3'>
                                                      Tujuan Pembayaran
                                                    </div>
                                                    <div class='col-lg-9'>
                                                        <span id='cf_category'></span>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class='col-lg-3'>
                                                      Invoice
                                                    </div>
                                                    <div class='col-lg-9'>
                                                        <span id='cf_invoice'></span>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class='col-lg-3'>
                                                      Kartu Kredit
                                                    </div>
                                                    <div class='col-lg-9'>
                                                        <span id='cf_tempCardNumber'></span>
                                                    </div>
                                                </div>
                                              
                                               
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <div class="col-lg-12">
                                                <input id="acceptTerms-2" name="acceptTerms2" type="checkbox" class="required">
                                                <label for="acceptTerms-2">I agree with the Terms and Conditions.</label>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End row -->
		</div> <!-- end container -->
	</div>
	<!-- end wrapper -->
  
<!-- Modal -->
  <div class="modal fade" id="CardWarning" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Perlu Melakukan Registrasi Kartu Kredit</h4>
        </div>
        <div class="modal-body">
          <p>Anda belum melakukan registrasi kartu kredit. Tolong setup kartu kredit detail anda terlebih dahulu di <a href="/users/myprofile">halaman profile anda</a>.</p>
        </div>
        <div class="modal-footer">
          <a href="/users/myprofile" type="button" class="btn btn-default">Tutup</a>
        </div>
      </div>     
    </div>
  </div>

{% if cards %}
{% else %}  
<script>
    $(window).load(function(){
    $('#CardWarning').modal('show');
});
</script>
{% endif %}



    <!-- Plugins js -->
        <script src="{% static "/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js" %}" type="text/javascript"></script>
        <script src="{% static "/plugins/autoNumeric/autoNumeric.js" %}" type="text/javascript"></script>

    <!--Form Wizard-->
        <script src="{% static "/plugins/jquery.steps/js/jquery.steps.min.js" %}" ></script>
        <script type="text/javascript" src="{% static "/plugins/jquery-validation/js/jquery.validate.min.js" %}"></script>




        <script>
            !function($) {
                "use strict";

    var FormWizard = function() {};

    FormWizard.prototype.createBasic = function($form_container) {
        $form_container.validate({
            errorPlacement: function errorPlacement(error, element) {
                element.after(error);
            }
        });
        $form_container.children("div").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
                $form_container.validate().settings.ignore = "#id_invoice,:disabled,:hidden";
                return true;
            },
            onStepChanged: function(event,currentIndex,priorIndex){
                $('#cf_tempMerchantName').text($('#id_tempMerchantName').val())
                $('#cf_tempMerchantPhone').text($('#id_tempMerchantPhone').val())
                $('#cf_tempMerchantBankName').text($('#id_tempMerchantBankName').val())
                $('#cf_tempMerchantBankAccount').text($('#id_tempMerchantBankAccount').val())
                $('#cf_amount').text($('#id_amount').val())
                $('#cf_category').text($('#id_category').val())
                $('#cf_invoice').text($('#id_invoice').val())
                $('#cf_tempCardNumber').text($('#id_CardUsed option:selected').text())
                
                return true;
            },
            onFinishing: function (event, currentIndex) { 
                //NOTE: Here you can do form validation and return true or false based on your validation logic
                $form_container.validate().settings.ignore = ":disabled,:hidden";
                console.log("Form has been validated!");
                return $form_container.valid(); 
            }, 
            onFinished: function (event, currentIndex) {
               //NOTE: Submit the form, if all validation passed.
                //$form_container.validate().settings.ignore = ":disabled";
                console.log("Form can be submitted using submit method. E.g. $('#basic-form').submit()"); 
                $("#payment-form").submit();
            }
        });
        return $form_container;
    },
    FormWizard.prototype.init = function() {
        //basic form
        this.createBasic($("#payment-form"));
    },
    //init
    $.FormWizard = new FormWizard, $.FormWizard.Constructor = FormWizard
}(window.jQuery),

            //initializing 
            function($) {
                "use strict";
                $.FormWizard.init()
            }(window.jQuery);
        </script>
        <script type="text/javascript">
          jQuery(function($) {
              $('.autonumber').autoNumeric('init');
          });
        </script>
{% endblock %}